

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:rgb(18, 70, 123);
    flex-direction: column;
}

.text{
    font-size: 45px;
    color: antiquewhite;
    margin-bottom: 30px;
    }

.paragrafo{
    color: antiquewhite;
    margin-bottom: 50px;
}

.btn{
    padding: 15px 55px;
    background: antiquewhite;
    text-decoration: none;
    color:black;
    font-size: 18px;
    transition: all 0.8;    
}

.btn:hover{
    border-radius: 15px;
}
